<html>
  <head>
    <title>Tic Tac Vue</title>
    <script src="http://unpkg.com/vue"></script>
    <link rel="stylesheet" href="./app.css" />
  </head>
  <body>
    <div id="app"></div>
    <script type="text/x-template" id="grid">
      <div class="grid">
        <div class="row" v-for="(row, row_index) in rows">
          <div class="column" v-for="(column, column_index) in row" v-on:click="tap" v-bind:data-row="row_index" v-bind:data-column="column_index">
            {{column}}
          </div>
        </div>
        <div class="status" v-if="finished">Finished! {{next}} wins!</div>
      </div>
    </script>
    <script src="./app.js" type="text/javascript"></script>
  </body>
</html>